<hr>
<section>
    <div class="filter-section flex-column flex-center flex-items-center">
        <h2>Filter Sales</h2>
        <form class="filter-form flex-column" #filterForm>
            <div class="filter-fields-container">
                <div class="filter-field">
                    <label for="title-filter">Movie Title:</label>
                    <input type="text" id="title-filter" placeholder="Movie title" #movieTitle>
                </div>

                <div class="filter-field">
                    <label for="status-filter">Status:</label>
                    <select id="status-filter" #status>
                        <option value="" selected>Any</option>
                        <option value="OnCinemas">On Cinemas</option>
                        <option value="ComingSoon">Coming Soon</option>
                        <option value="NotScreening">Not Screening</option>
                    </select>
                </div>

                <div class="filter-field">
                    <label for="release-date-filter">Release Date:</label>
                    <input type="date" id="release-date-filter" #releaseDate>
                </div>
            </div>

            <div class="buttons-container">
                <button type="button" class="btn-submit"
                    (click)="processFilters(movieTitle.value,status.value,releaseDate.value); filterForm.reset()">Search</button>
                <button type="button" class="btn-reset" (click)="filterForm.reset()">Reset</button>
            </div>
        </form>

    </div>
</section>