$primary-color: hsl(156, 16%, 51%);
$secondary-color: hsl(37, 53%, 89%);

$background-color: hsl(217, 10%, 25%);
$font-family: "Gill Sans MT", sans-serif;
$font-size: 14px;
$font-color: hsl(0, 0%, 97%);

$header-height: 80px;

$workarea-min-height: calc(100vh - $header-height);
