<header class="flex-row flex-space-between flex-items-center">

    <div class="app-title flex-hide-xs">
        {{ title | uppercase }}
    </div>

    <nav class="flex-row flex-center flex-items-center">
        <ul class="flex-row flex-center flex-items-center flex-column-xs">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">Home</a>
            </li>

            <li>
                <a routerLink="/sales" routerLinkActive="active">Sales</a>
            </li>
        </ul>
    </nav>

</header>

<main>

    <router-outlet></router-outlet>

</main>