<section>
    <h2 class="text-center">Dashboard</h2>

    <div class="dashboard-container flex-row flex-space-between flex-items-center">
        <div class="flex-column flex-items-center">
            <img src="../../../../assets/img/ticket-icon.png" alt="Tickets Sold">
            <h3>Tickets Sold</h3>
            <span class="dashboard-highlight">{{ticketsTotal}}</span>
        </div>

        <div class="flex-column flex-items-center">
            <img src="../../../../assets/img/money-icon.png" alt="Total Sales">
            <h3>Total Sales</h3>
            <span class="dashboard-highlight">{{salesTotal | currency}}</span>
        </div>

        <div class="flex-column flex-items-center">
            <img src="../../../../assets/img/film-reel-icon.png" alt="Total Movies">
            <h3>Total Movies</h3>
            <span class="dashboard-highlight">{{moviesTotal}}</span>

        </div>
    </div>
</section>